extends layout

block content
  h1 Iniciar sesion 
  from(action='/login', method='post')
    label(for="user") Usuario 
    input(id='user', name='email', type="text", placehlder='usuario')
    label(for="password") Contraseña
    input(id='password', name='password' type="password", placeholder='contraseña') 
    input(type="submit", value='iniciar sesion') 

