

doctype html 
html(lang='en')
  head 
    title=pageTitle 
    script(type='text/javascript').
  body 
  h1 Jade - node template engine 

  h2 Actividad | Implementación de otro motor de templates

  ul#books 
    li 
      a(href="#ejemplo-a") Ejemplo A
    ul#books 
    li 
      a(href="#ejemplo-b") Ejemplo B

